/*----fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@400;500;600&family=Roboto&family=Signika+Negative&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
    font-weight: 2000em;
    color: #3A3A3A;
}
.section-title{
    text-align: center;
    font-size: 28px;
    /* margin-bottom: -60%; */
    color:#3A3A3A
    
}
.first-heading{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding: 0 50px; */
    
}
.half-width{
    width: 50%;
    color: #3A3A3A;
    
    
}
.right-half-width{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.half-width img{
    width: 60%;
    /* background-color:powderblue; */
    /* background-position: right; */
    /* margin: 0%;
    padding-right: 0%; */
    

}

.head-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 15px;
    border-radius: 41px;
    font-weight: 10px;
    border: none;

}
/* sponsor companies */
.companies-logo{
    margin: 100px 0;
}
.sponser-companies{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;

    padding: 30px 0px;
    box-shadow: 1px 1px 4px -1px grey;
}



.cards{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.collections{
    padding: 15px;
    box-shadow: 1px 1px 4px -1px grey;
    border-radius: 10px;
}

.collection-banner img{
    width: 100%;
    height: 200px;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}

.animation-div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


/* footer */

footer{
    text-align: center;
    color:#D9DBE1;
    background-color:rgb(23, 4, 44);
}
.footer-head{
    color:#D9DBE1; ;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media .fab{
    color: #FFFFFF;
    font-size: 20px;
}




@media only screen and (max-width: 576px)  {
    .first-heading{
        width: 100%;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .half-width{
        width: 95%;
    }


    .sponser-companies{
        width: 95%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .cards{
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media only screen and (max-width: 992px)  {
    .sponser-companies{
        width: 95%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .cards{
        width: 95%;
    }
    
}